<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About 'Just a little ZEN'</h1>

  <p>
    'Just a little ZEN' was built by an aspiring web developer with business idea.  This page is only the first step in a long journey of learning how to code and hopefully one day posses the skills necessaryto create that business idea.  
  </p>
  <br />
  <p>
    This web page is part of the curriculum for theFirehose Project, a 12 week intensive coding bootcamp. Any and all input is welcome. 
  </p>
  <p>
  

    <div class="col-xs-12 col-sm-4">
    <%= image_tag 'ross.jpg', :class => 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Ross McKee</h2>
    <br />
    <p>
      Born in Chicago, but raised in California, Ross lives for the ocean.  If he's not passed out on the sand, or on his surf board, Ross is on the street working as a paramedic.  Over the years, he's learned to handle the stress of his job by reading about zen and mindfulness.  
    </p>
  </div>
  <br class="clear" />
</p>
</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />